In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/exercise-recognition/train.csv

pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real-world data analysis in Python.

In [ ]:
df = pd.read_csv('/kaggle/input/exercise-recognition/train.csv')
df.head()

,pose_id,pose,x_nose,y_nose,z_nose,x_left_eye_inner,y_left_eye_inner,z_left_eye_inner,x_left_eye,y_left_eye,...,z_left_heel,x_right_heel,y_right_heel,z_right_heel,x_left_foot_index,y_left_foot_index,z_left_foot_index,x_right_foot_index,y_right_foot_index,z_right_foot_index
0,0,squats_up,-0.382815,-48.231250,-54.405792,0.137189,-50.040543,-51.997875,0.502047,-50.058890,...,33.283375,-12.302963,52.377000,21.567219,16.609533,54.351162,15.890617,-16.779694,55.382572,2.050140
1,1,situp_down,54.146880,-12.822491,5.564175,56.762527,-11.221117,-0.363063,56.795986,-10.608183,...,-8.073100,-37.519974,4.045297,62.104233,-60.468560,6.281939,-8.185631,-52.589350,-3.852214,59.750070
2,2,situp_down,9.891440,-54.147266,85.344970,12.784414,-55.229970,88.534775,14.006874,-54.291880,...,-132.024460,-61.214890,53.040688,-16.786700,-5.844672,99.829030,-166.543060,-73.826830,38.470097,-40.519830
3,3,jumping_jacks_up,0.904673,-51.350130,-33.606970,1.338871,-53.172337,-30.013737,1.743913,-53.050697,...,51.615970,-15.543400,38.251835,34.033176,16.610210,46.572014,38.680614,-18.784650,45.098710,20.343110
4,4,jumping_jacks_down,-3.153129,-55.255062,-17.745928,-2.046205,-57.477790,-18.198952,-1.506304,-57.428230,...,-2.849554,2.811829,56.000500,56.605590,0.566345,66.231050,-19.252045,-3.451297,60.029484,45.503677

The describe() method returns description of the data in the DataFrame. If the DataFrame contains numerical data, the description contains these information for each column: count - The number of not-empty values. mean - The average (mean) value. std - The standard deviation.

In [ ]:
df.iloc[:,1:11].describe()

,x_nose,y_nose,z_nose,x_left_eye_inner,y_left_eye_inner,z_left_eye_inner,x_left_eye,y_left_eye,z_left_eye
count,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000
mean,0.053648,-37.326796,-30.706541,0.485687,-39.509185,-30.524985,0.792095,-39.545846,-30.527955
std,23.649281,31.048437,54.656192,24.497339,31.346824,54.992888,24.485701,31.211337,54.993625
min,-65.973076,-68.403656,-445.800080,-66.538180,-71.202156,-458.567570,-65.191660,-71.224174,-458.579440
25%,-4.109430,-55.254955,-48.765510,-3.341005,-57.540430,-46.496040,-3.270816,-57.428230,-46.487988
50%,-0.113795,-50.883630,-24.786951,0.331020,-52.950300,-23.692810,0.688978,-52.864372,-23.712904
75%,3.538332,-34.784786,-2.454670,4.206791,-36.975080,-3.096046,4.873786,-37.186440,-3.097870
max,64.850930,83.510440,242.465380,66.834670,80.629990,253.638150,67.458220,79.560450,253.774290

In [ ]:
df.iloc[:,11:21].describe()

,x_left_eye_outer,y_left_eye_outer,z_left_eye_outer,x_right_eye_inner,y_right_eye_inner,z_right_eye_inner,x_right_eye,y_right_eye,z_right_eye,x_right_eye_outer
count,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000
mean,1.083083,-39.579255,-30.539071,-0.404226,-39.530934,-30.399054,-0.717782,-39.589658,-30.405472,-1.008636
std,24.462829,31.062697,55.000004,24.482050,31.282611,55.206632,24.470752,31.071644,55.214603,24.448016
min,-64.942210,-71.317010,-458.670560,-66.657745,-72.438034,-459.228100,-66.577270,-73.024220,-459.327360,-67.245674
25%,-3.233219,-57.418007,-46.501522,-4.169279,-57.555176,-46.615210,-4.438617,-57.505165,-46.626633,-4.685193
50%,1.111716,-52.837370,-23.728231,-0.778509,-52.942234,-23.604742,-1.272852,-52.853650,-23.601427,-1.704646
75%,5.333421,-37.605465,-3.091778,3.326515,-37.796880,-3.507623,2.832518,-37.921380,-3.504497,2.903784
max,64.513830,77.769810,253.702790,62.453610,81.047905,250.179800,61.723488,79.942140,250.111310,61.110146

In [ ]:
df.iloc[:, 21:31].describe()

,y_right_eye_outer,z_right_eye_outer,x_left_ear,y_left_ear,z_left_ear,x_right_ear,y_right_ear,z_right_ear,x_mouth_left,y_mouth_left
count,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000
mean,-39.626434,-30.413552,1.559264,-39.091754,-22.952613,-1.359749,-39.061333,-22.391790,0.627246,-35.225135
std,30.889417,55.214408,23.714871,28.971479,51.413248,23.681242,28.900577,52.401211,22.436392,29.427594
min,-73.569695,-459.375060,-61.420036,-69.016800,-424.540220,-64.322975,-70.671070,-427.846860,-63.336056,-63.510395
25%,-57.406730,-46.629290,-3.036607,-55.590527,-33.550896,-5.306176,-55.653000,-34.100100,-3.304403,-52.209580
50%,-52.745880,-23.603817,1.776028,-51.503480,-16.448837,-2.272101,-51.504420,-16.806355,0.573281,-48.251038
75%,-37.752316,-3.503117,5.375620,-37.342197,-1.427317,2.876427,-37.030468,0.083197,4.297370,-31.937578
max,78.656944,250.179260,60.976337,67.727196,262.181760,57.012970,69.501495,247.041100,59.654360,80.693220

In [ ]:
df.iloc[:, 31:41].describe()

,z_mouth_left,x_mouth_right,y_mouth_right,z_mouth_right,x_left_shoulder,y_left_shoulder,z_left_shoulder,x_right_shoulder,y_right_shoulder,z_right_shoulder
count,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000
mean,-27.185047,-0.446324,-35.265740,-27.059371,4.261374,-29.085253,-17.474874,-3.920156,-29.048851,-15.590361
std,51.822574,22.428954,29.291568,52.120344,18.847838,20.734051,44.952428,18.723056,20.407912,46.417645
min,-422.742600,-64.696900,-63.927490,-424.138120,-44.555332,-52.025050,-322.176060,-53.588260,-49.994736,-331.370120
25%,-42.669650,-4.255124,-52.316658,-42.960640,-4.769725,-40.333340,-32.210373,-9.133782,-40.148980,-30.486310
50%,-20.837952,-0.881376,-48.337738,-21.131977,5.786751,-39.551888,-14.567022,-6.068835,-39.398186,-14.504732
75%,-1.068462,2.913457,-33.217724,-1.415649,9.359577,-27.204110,5.658229,4.455556,-27.026844,6.742728
max,241.905500,57.658726,80.070114,236.815830,53.379135,51.211338,229.268100,44.328262,48.726196,196.105550

In [ ]:
df.iloc[:, 41:51].describe()

,x_left_elbow,y_left_elbow,z_left_elbow,x_right_elbow,y_right_elbow,z_right_elbow,x_left_wrist,y_left_wrist,z_left_wrist,x_right_wrist
count,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000
mean,6.167579,-23.595236,-19.198659,-6.728569,-23.291119,-16.702731,4.971975,-23.132715,-24.519901,-6.268483
std,19.603304,26.999968,46.520670,19.655741,26.451287,48.163661,22.913381,43.351679,54.574606,22.986754
min,-52.230980,-84.603676,-219.624080,-83.835590,-65.664250,-232.211560,-68.391340,-93.705710,-239.351610,-75.974290
25%,-5.236672,-45.013393,-44.270355,-16.105920,-44.026226,-38.797222,-7.764921,-56.999630,-51.566826,-16.426777
50%,8.696303,-24.614960,-18.159113,-9.228739,-24.783617,-16.141333,6.749375,-34.204742,-26.993933,-7.742307
75%,15.347749,-14.740764,7.481369,5.395467,-13.525516,6.296913,15.438453,0.846212,6.656235,6.830577
max,72.591606,76.488754,227.797180,56.826380,77.632256,215.676880,80.613940,96.400100,242.868210,73.502030

In [ ]:
df.iloc[:, 51:61].describe()

,y_right_wrist,z_right_wrist,x_left_pinky_1,y_left_pinky_1,z_left_pinky_1,x_right_pinky_1,y_right_pinky_1,z_right_pinky_1,x_left_index_1,y_left_index_1
count,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000
mean,-23.129454,-21.319079,4.804250,-23.231085,-28.436471,-6.359894,-23.319978,-24.987937,4.398988,-23.679363
std,42.930797,56.903591,24.761259,47.044528,58.441589,24.794762,46.604565,60.841775,24.501353,47.128395
min,-93.499200,-248.383400,-71.943440,-99.908200,-254.731200,-84.673090,-99.123085,-270.446200,-71.972664,-99.733180
25%,-56.968030,-47.567455,-8.436792,-61.208088,-57.699417,-17.518700,-61.167843,-53.413128,-8.006936,-61.520416
50%,-33.155754,-25.298388,5.927539,-36.275310,-31.713768,-7.373226,-35.486130,-29.048994,5.359511,-37.549988
75%,0.965322,10.027046,16.426432,6.474356,4.436020,7.222744,6.236359,9.143328,15.657976,6.461628
max,95.000720,242.366290,86.044430,99.805680,243.793840,78.779510,98.919495,245.107560,86.781220,98.876830

In [ ]:
df.iloc[:, 71:81].describe()

,x_left_hip,y_left_hip,z_left_hip,x_right_hip,y_right_hip,z_right_hip,x_left_knee,y_left_knee,z_left_knee,x_right_knee
count,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000
mean,2.479423,0.031863,-0.673849,-2.479423,-0.031863,0.673849,3.272910,14.113968,-0.126792,-4.147354
std,3.559661,2.997467,13.346260,3.559661,2.997468,13.346260,14.495337,19.908773,40.645453,14.805059
min,-16.397907,-11.419733,-51.663525,-19.060642,-12.999614,-33.714275,-36.314540,-59.261780,-190.245120,-44.932125
25%,0.338729,-0.499273,-9.907591,-4.488431,-0.684324,-6.112632,-4.573740,2.945107,-16.784197,-11.289550
50%,3.374421,-0.010310,-0.338217,-3.374431,0.010317,0.338217,3.881257,22.995836,-1.221787,-4.181828
75%,4.488431,0.684324,6.112632,-0.338719,0.499282,9.907591,10.520423,28.342926,18.547405,2.927653
max,19.060642,12.999614,33.714275,16.397902,11.419730,51.663525,50.403183,68.706856,261.437770,51.367910

In [ ]:
df.iloc[:, 81:91].describe()

,y_right_knee,z_right_knee,x_left_ankle,y_left_ankle,z_left_ankle,x_right_ankle,y_right_ankle,z_right_ankle,x_left_heel,y_left_heel
count,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000
mean,14.176733,2.535154,3.418327,32.697822,24.486933,-4.717393,32.732612,26.607474,3.253721,35.133279
std,19.570245,39.872236,25.221444,27.654779,65.286718,25.707421,27.439707,64.607977,26.848763,29.296417
min,-57.359802,-149.922450,-69.501430,-91.312200,-351.748780,-86.360140,-90.816320,-316.362270,-76.789120,-99.817160
25%,3.107528,-14.860225,-4.414329,14.764984,-6.289033,-13.782983,16.216860,-3.556313,-4.364262,17.265875
50%,22.317368,0.474476,3.567106,41.979435,23.433350,-3.868173,40.845413,24.568132,3.406112,44.737330
75%,28.344313,19.796848,13.244793,53.185284,44.470715,2.547834,53.139800,43.551056,12.690364,56.596817
max,68.215460,263.351600,79.464880,92.869170,512.353940,75.659790,88.525340,512.584500,83.666010,97.915110

In [ ]:
df.iloc[:, 91:].describe()

,z_left_heel,x_right_heel,y_right_heel,z_right_heel,x_left_foot_index,y_left_foot_index,z_left_foot_index,x_right_foot_index,y_right_foot_index,z_right_foot_index
count,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000,1097.000000
mean,26.510942,-4.483414,35.229423,28.636009,3.289102,40.228771,14.356177,-5.158548,39.911178,16.617366
std,68.457885,27.153198,29.035621,67.821931,29.062193,31.379031,72.328249,29.559802,31.403258,71.804185
min,-368.987880,-87.276010,-99.969400,-334.563870,-81.992210,-99.275190,-423.637570,-97.181305,-99.920200,-380.154000
25%,-5.678543,-13.371049,18.600668,-2.854865,-5.930643,23.143908,-14.776978,-16.590565,23.575298,-15.244630
50%,24.861042,-4.042651,43.930687,25.423359,3.645946,50.737988,10.905448,-4.533698,50.243694,11.231042
75%,46.762560,3.143690,56.155956,45.967274,15.428953,62.077587,35.520462,3.517952,61.494850,36.787037
max,541.711100,83.391620,98.518140,540.971600,98.586450,99.829030,565.342400,94.965490,99.537735,558.523600

The value_counts() function returns a Series that contain counts of unique values. It returns an object that will be in descending order so that its first element will be the most frequently-occurred element. By default, it excludes NA values.

In [ ]:
df['pose'].value_counts()

jumping_jacks_down    151
jumping_jacks_up      145
pullups_down          123
pushups_up            115
squats_up             111
pullups_up            108
squats_down           101
situp_down             82
pushups_down           82
situp_up               79
Name: pose, dtype: int64

### Importing the ML Libraries

In [ ]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import cross_val_score, GridSearchCV, train_test_split
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB, GaussianNB, BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [ ]:
encoder = LabelEncoder()
y = df['pose']
y = encoder.fit_transform(y)

In [ ]:
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y), y=y)
class_weights_dict = {}
for idx, x in enumerate(class_weights):
    class_weights_dict[idx] = x

In [ ]:
class_weights_dict

{0: 0.7264900662251655,
 1: 0.756551724137931,
 2: 0.891869918699187,
 3: 1.0157407407407408,
 4: 1.3378048780487806,
 5: 0.9539130434782609,
 6: 1.3378048780487806,
 7: 1.388607594936709,
 8: 1.0861386138613862,
 9: 0.9882882882882883}

The MinMaxscaler is a type of scaler that scales the minimum and maximum values to be 0 and 1 respectively. While the StandardScaler scales all values between min and max so that they fall within a range from min to max.

In [ ]:
scaler = MinMaxScaler()

In [ ]:
X = df.drop(['pose_id', 'pose'], axis='columns')
X = scaler.fit_transform(X)
X

array([[0.50136258, 0.13278824, 0.56866763, ..., 0.41843847, 0.77862418,
        0.40717296],
       [0.91817977, 0.36587233, 0.65579966, ..., 0.23207233, 0.48164534,
        0.46864234],
       [0.57989752, 0.09384508, 0.77171539, ..., 0.12154496, 0.693832  ,
        0.36182196],
       ...,
       [0.47136346, 0.12550405, 0.65802736, ..., 0.71101245, 0.50134483,
        0.33822023],
       [0.18389567, 0.44086609, 0.55341214, ..., 0.23140524, 0.4253117 ,
        0.28585592],
       [0.49970255, 0.10269578, 0.59849468, ..., 0.43619372, 0.74566449,
        0.42992408]])

In [ ]:
models = {
    'Logistic Regression': LogisticRegression(max_iter=10000000000),
    'SGD Classifier': SGDClassifier(class_weight=class_weights_dict),
    'Random Forest': RandomForestClassifier(class_weight=class_weights_dict),
    'Gradient Boosting': GradientBoostingClassifier(),
    'Multinomial NB': MultinomialNB(),
    'GaussianNB': GaussianNB(),
    'KNeighbors': KNeighborsClassifier(),
    'SVC': SVC(class_weight=class_weights_dict),
    'Neural Network': MLPClassifier(max_iter=10000000)
}
models

{'Logistic Regression': LogisticRegression(max_iter=10000000000),
 'SGD Classifier': SGDClassifier(class_weight={0: 0.7264900662251655, 1: 0.756551724137931,
                             2: 0.891869918699187, 3: 1.0157407407407408,
                             4: 1.3378048780487806, 5: 0.9539130434782609,
                             6: 1.3378048780487806, 7: 1.388607594936709,
                             8: 1.0861386138613862, 9: 0.9882882882882883}),
 'Random Forest': RandomForestClassifier(class_weight={0: 0.7264900662251655,
                                      1: 0.756551724137931, 2: 0.891869918699187,
                                      3: 1.0157407407407408,
                                      4: 1.3378048780487806,
                                      5: 0.9539130434782609,
                                      6: 1.3378048780487806,
                                      7: 1.388607594936709,
                                      8: 1.0861386138613862,
                                      9: 0.9882882882882883}),
 'Gradient Boosting': GradientBoostingClassifier(),
 'Multinomial NB': MultinomialNB(),
 'GaussianNB': GaussianNB(),
 'KNeighbors': KNeighborsClassifier(),
 'SVC': SVC(class_weight={0: 0.7264900662251655, 1: 0.756551724137931,
                   2: 0.891869918699187, 3: 1.0157407407407408,
                   4: 1.3378048780487806, 5: 0.9539130434782609,
                   6: 1.3378048780487806, 7: 1.388607594936709,
                   8: 1.0861386138613862, 9: 0.9882882882882883}),
 'Neural Network': MLPClassifier(max_iter=10000000)}

In [ ]:
for key, model in models.items():
    scores = cross_val_score(model, X, y)
    print(key, ' scores: ', scores)
    print(key, ' mean: ', scores.mean())

Logistic Regression  scores:  [0.74090909 0.66363636 0.73059361 0.72146119 0.72146119]
Logistic Regression  mean:  0.7156122872561229
SGD Classifier  scores:  [0.48636364 0.69090909 0.58447489 0.67123288 0.73059361]
SGD Classifier  mean:  0.6327148194271481
Random Forest  scores:  [0.84545455 0.8        0.83561644 0.83561644 0.89041096]
Random Forest  mean:  0.841419676214197
Gradient Boosting  scores:  [0.83636364 0.8        0.76712329 0.82648402 0.8630137 ]
Gradient Boosting  mean:  0.8185969281859693
Multinomial NB  scores:  [0.51818182 0.51363636 0.48858447 0.51141553 0.51141553]
Multinomial NB  mean:  0.5086467413864674
GaussianNB  scores:  [0.65909091 0.64090909 0.64383562 0.65753425 0.68493151]
GaussianNB  mean:  0.6572602739726027
KNeighbors  scores:  [0.82272727 0.79090909 0.82191781 0.83561644 0.82648402]
KNeighbors  mean:  0.8195309256953094
SVC  scores:  [0.75909091 0.73181818 0.74885845 0.77625571 0.78995434]
SVC  mean:  0.7611955168119551
Neural Network  scores:  [0.82272727 0.80454545 0.79452055 0.82191781 0.84018265]
Neural Network  mean:  0.8167787463677876

In [ ]:
rf_optimizer = GridSearchCV(RandomForestClassifier(class_weight=class_weights_dict), {
    'n_estimators': [50, 100, 150, 200],
    'criterion': ['gini', 'entropy', 'log_loss']
})

In [ ]:
rf_optimizer.fit(X, y)

/opt/conda/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
20 fits failed out of a total of 60.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
20 fits failed with the following error:
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/opt/conda/lib/python3.7/site-packages/sklearn/ensemble/_forest.py", line 467, in fit
    for i, t in enumerate(trees)
  File "/opt/conda/lib/python3.7/site-packages/joblib/parallel.py", line 1041, in __call__
    if self.dispatch_one_batch(iterator):
  File "/opt/conda/lib/python3.7/site-packages/joblib/parallel.py", line 859, in dispatch_one_batch
    self._dispatch(tasks)
  File "/opt/conda/lib/python3.7/site-packages/joblib/parallel.py", line 777, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/opt/conda/lib/python3.7/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/opt/conda/lib/python3.7/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/opt/conda/lib/python3.7/site-packages/joblib/parallel.py", line 263, in __call__
    for func, args, kwargs in self.items]
  File "/opt/conda/lib/python3.7/site-packages/joblib/parallel.py", line 263, in <listcomp>
    for func, args, kwargs in self.items]
  File "/opt/conda/lib/python3.7/site-packages/sklearn/utils/fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "/opt/conda/lib/python3.7/site-packages/sklearn/ensemble/_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "/opt/conda/lib/python3.7/site-packages/sklearn/tree/_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "/opt/conda/lib/python3.7/site-packages/sklearn/tree/_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/opt/conda/lib/python3.7/site-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.82775841 0.83230386 0.83958904 0.83775841 0.82407223 0.83960565
 0.84050228 0.83137817        nan        nan        nan        nan]
  category=UserWarning,

GridSearchCV(estimator=RandomForestClassifier(class_weight={0: 0.7264900662251655,
                                                            1: 0.756551724137931,
                                                            2: 0.891869918699187,
                                                            3: 1.0157407407407408,
                                                            4: 1.3378048780487806,
                                                            5: 0.9539130434782609,
                                                            6: 1.3378048780487806,
                                                            7: 1.388607594936709,
                                                            8: 1.0861386138613862,
                                                            9: 0.9882882882882883}),
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'n_estimators': [50, 100, 150, 200]})

In [ ]:
optimizer_results = pd.DataFrame(rf_optimizer.cv_results_)
optimizer_results[['param_n_estimators', 'param_criterion', 'mean_test_score']]

   param_n_estimators param_criterion  mean_test_score
0                  50            gini         0.827758
1                 100            gini         0.832304
2                 150            gini         0.839589
3                 200            gini         0.837758
4                  50         entropy         0.824072
5                 100         entropy         0.839606
6                 150         entropy         0.840502
7                 200         entropy         0.831378
8                  50        log_loss              NaN
9                 100        log_loss              NaN
10                150        log_loss              NaN
11                200        log_loss              NaN

In [ ]:
print('Best Sccore: ', rf_optimizer.best_score_)
print('Optimal Param: ', rf_optimizer.best_params_)

Best Sccore:  0.8405022831050228
Optimal Param:  {'criterion': 'entropy', 'n_estimators': 150}

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2, random_state=2022)

In [ ]:
optimized_model = RandomForestClassifier(class_weight=class_weights_dict, criterion='entropy', n_estimators=150)

In [ ]:
optimized_model.fit(X_train, y_train)

RandomForestClassifier(class_weight={0: 0.7264900662251655,
                                     1: 0.756551724137931, 2: 0.891869918699187,
                                     3: 1.0157407407407408,
                                     4: 1.3378048780487806,
                                     5: 0.9539130434782609,
                                     6: 1.3378048780487806,
                                     7: 1.388607594936709,
                                     8: 1.0861386138613862,
                                     9: 0.9882882882882883},
                       criterion='entropy', n_estimators=150)

In [ ]:
optimized_model.score(X_test, y_test)

0.8363636363636363

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
y_predicted = optimized_model.predict(X_test)

In [ ]:
print(classification_report(y_test, y_predicted, target_names=encoder.classes_))

                    precision    recall  f1-score   support

jumping_jacks_down       0.85      0.93      0.89        30
  jumping_jacks_up       0.83      0.86      0.85        29
      pullups_down       0.73      0.88      0.80        25
        pullups_up       0.81      0.59      0.68        22
      pushups_down       0.83      0.94      0.88        16
        pushups_up       0.91      0.91      0.91        23
        situp_down       0.89      1.00      0.94        17
          situp_up       1.00      0.62      0.77        16
       squats_down       0.89      0.85      0.87        20
         squats_up       0.73      0.73      0.73        22

          accuracy                           0.84       220
         macro avg       0.85      0.83      0.83       220
      weighted avg       0.84      0.84      0.83       220